<h1 class="text-center">Schedule by Team</h1>
<ul class="list-inline text-center"><li ng-repeat="teamabv in team.teams"><a href
     ng-click="team.sched = team.getSchedule(teamabv)"> {{teamabv|TeamName}}
</a></li></p>
<div ng-repeat="game in team.sched.content" class="panel panel-default
    text-center">
    <a ng-click="team.teamTransition(game['awayTeam'])"  href="#/team">
        {{game["awayTeam"]}}
    <img ng-src="images/helmets/{{game['awayTeam']}}.gif"></a>
    @ <a ng-click="team.teamTransition(game['homeTeam'])"  href="#/team">
        {{game["homeTeam"]}}<img ng-src="images/helmets/{{game['homeTeam']}}.gif"></a>
    - <a href="#/week" ng-click="team.weekTransition(game['gameWeek'])">{{game["gameDate"]| date}}</a></p>
</div>
